.navbar{
    background-color: #fff !important;
    z-index: 1201 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    .nav-link{
        display: flex !important;
        align-items: center !important;
        width: 100px;
    }

    a{
        color: rgba(0,0,0,.5) !important;
    }

    a:hover{
        color: rgba(0, 0, 0, 0.8) !important;
    }
}

@media(min-width:600px){
    .navbar{
        height: 64px !important;
    }
}


.navbar img{
    width: 60px;
}

.navbar .title{
    font-size: 1rem;
}

.dropdown-menu{
    right:15px !important
}